<section class="py-32 px-6 md:px-12 bg-base-200 cursor-default background"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url('/img/bg10.png');"
    id="skills">
    <div class="max-w-7xl mx-auto">

        <div class="text-center mb-20" appScrollAnimation [hiddenClass]="'opacity-0 translate-y-10'"
            [animationClass]="'opacity-100 translate-y-0'">
            <h2 class="text-4xl md:text-5xl font-bold mb-4 font-sans tracking-tight">Technical Expertise</h2>
            <div class="h-1 w-24 bg-secondary mx-auto rounded-full"></div>
            <p class="mt-6 text-xl opacity-80 max-w-2xl mx-auto">
                A showcase of the tools and technologies I use to build scalable, beautiful web applications.
            </p>
        </div>

        <!-- Marquee Container -->
        <div class="relative w-full flex flex-col gap-8 mt-4" appScrollAnimation [hiddenClass]="'opacity-0'"
            [animationClass]="'opacity-100'" [threshold]="0.2">

            <!-- Technologies -->
            <div class="grid grid-cols-4 gap-3 border rounded-2xl pb-3 lg:pb-0 overflow-hidden technologies-border">
                <div class="flex flex-col items-center p-7 lg:col-span-1 col-span-4 bg-primary text-primary-content rounded-lg cursor-default technologies-background"
                    style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('/img/bg10.png');">
                    <h3 class="lg:text-2xl text-xl font-bold my-auto pb-1">Technologies</h3>
                </div>
                <div class="marquee-wrapper col-span-4 lg:col-span-3 max-h-20 my-auto">
                    <div class="marquee-content scroll-left">
                        @for (skill of technologies; track skill.name; let i = $index) {
                        <div class="card bg-primary shadow-xl rounded-full border border-base-300 min-w-40 shrink-0 cursor-default hover:border-primary transition-colors technologies-background1"
                            style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('/img/bg10.png');">
                            <div class="card-body flex justify-center text-center p-4 flex-row gap-3">
                                <img src="{{ skill.icon }}" alt="{{ skill.name }}" height="25" width="25">
                                <h3 class="card-title text-sm">{{ skill.name }}</h3>
                            </div>
                        </div>
                        }
                        <!-- Duplicate for infinite scroll -->
                        @for (skill of technologies; track 'dup-'+skill.name; let i = $index) {
                        <div class="card bg-primary shadow-xl rounded-full border border-base-300 min-w-40 shrink-0 cursor-default hover:border-primary transition-colors technologies-background1"
                            style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('/img/bg10.png');">
                            <div class="card-body flex justify-center text-center p-4 flex-row gap-4">
                                <img src="{{ skill.icon }}" alt="{{ skill.name }}" height="25" width="25">
                                <h3 class="card-title text-sm">{{ skill.name }}</h3>
                            </div>
                        </div>
                        }
                    </div>
                    <div
                        class="absolute inset-y-0 left-0 w-20 bg-linear-to-r from-black to-transparent pointer-events-none z-10">
                    </div>
                    <div
                        class="absolute inset-y-0 right-0 w-20 bg-linear-to-l from-black to-transparent pointer-events-none z-10">
                    </div>
                </div>
            </div>

            <!-- Languages -->
            <div class="grid grid-cols-4 gap-3 border rounded-2xl pb-3 lg:pb-0 overflow-hidden languages-border">
                <div class="flex flex-col items-center p-7 lg:col-span-1 col-span-4 bg-primary text-primary-content rounded-lg cursor-default languages-background"
                    style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('/img/bg10.png');">
                    <h3 class="lg:text-2xl text-xl font-bold my-auto pb-1">Languages</h3>
                </div>
                <div class="marquee-wrapper col-span-4 lg:col-span-3 max-h-20 my-auto">
                    <div class="marquee-content scroll-right">
                        @for (skill of languages; track skill.name; let i = $index) {
                        <div class="card bg-primary shadow-xl rounded-full border border-base-300 min-w-40 shrink-0 cursor-default hover:border-primary transition-colors languages-background1"
                            style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/img/bg10.png');">
                            <div class="card-body flex justify-center text-center p-4 flex-row gap-3">
                                <img src="{{ skill.icon }}" alt="{{ skill.name }}" height="25" width="25">
                                <h3 class="card-title text-sm">{{ skill.name }}</h3>
                            </div>
                        </div>
                        }
                        <!-- Duplicate for infinite scroll -->
                        @for (skill of languages; track 'dup-'+skill.name; let i = $index) {
                        <div class="card bg-primary shadow-xl rounded-full border border-base-300 min-w-40 shrink-0 cursor-default hover:border-primary transition-colors languages-background1"
                            style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/img/bg10.png');">
                            <div class="card-body flex justify-center text-center p-4 flex-row gap-4">
                                <img src="{{ skill.icon }}" alt="{{ skill.name }}" height="25" width="25">
                                <h3 class="card-title text-sm">{{ skill.name }}</h3>
                            </div>
                        </div>
                        }
                    </div>
                    <div
                        class="absolute inset-y-0 left-0 w-20 bg-linear-to-r from-black to-transparent pointer-events-none z-10">
                    </div>
                    <div
                        class="absolute inset-y-0 right-0 w-20 bg-linear-to-l from-black to-transparent pointer-events-none z-10">
                    </div>
                </div>
            </div>

            <!-- Frameworks -->
            <div class="grid grid-cols-4 gap-3 border rounded-2xl pb-3 lg:pb-0 overflow-hidden frameworks-border">
                <div class="flex flex-col items-center p-7 lg:col-span-1 col-span-4 bg-primary text-primary-content rounded-lg cursor-default frameworks-background"
                    style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('/img/bg10.png');">
                    <h3 class="lg:text-2xl text-xl font-bold my-auto pb-1">Frameworks</h3>
                </div>
                <div class="marquee-wrapper col-span-4 lg:col-span-3 max-h-20 my-auto">
                    <div class="marquee-content scroll-left">
                        @for (skill of frameworks; track skill.name; let i = $index) {
                        <div class="card bg-primary shadow-xl rounded-full border border-base-300 min-w-40 shrink-0 cursor-default hover:border-primary transition-colors frameworks-background1"
                            style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/img/bg10.png');">
                            <div class="card-body flex justify-center text-center p-4 flex-row gap-3">
                                <img src="{{ skill.icon }}" alt="{{ skill.name }}" height="25" width="25">
                                <h3 class="card-title text-sm">{{ skill.name }}</h3>
                            </div>
                        </div>
                        }
                        <!-- Duplicate for infinite scroll -->
                        @for (skill of frameworks; track 'dup-'+skill.name; let i = $index) {
                        <div class="card bg-primary shadow-xl rounded-full border border-base-300 min-w-40 shrink-0 cursor-default hover:border-primary transition-colors frameworks-background1"
                            style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/img/bg10.png');">
                            <div class="card-body flex justify-center text-center p-4 flex-row gap-4">
                                <img src="{{ skill.icon }}" alt="{{ skill.name }}" height="25" width="25">
                                <h3 class="card-title text-sm">{{ skill.name }}</h3>
                            </div>
                        </div>
                        }
                    </div>
                    <div
                        class="absolute inset-y-0 left-0 w-20 bg-linear-to-r from-black to-transparent pointer-events-none z-10">
                    </div>
                    <div
                        class="absolute inset-y-0 right-0 w-20 bg-linear-to-l from-black to-transparent pointer-events-none z-10">
                    </div>
                </div>
            </div>

            <!-- IDEs -->
            <div class="grid grid-cols-4 gap-3 border rounded-2xl pb-3 lg:pb-0 overflow-hidden ides-border">
                <div class="flex flex-col items-center p-7 lg:col-span-1 col-span-4 bg-primary text-primary-content rounded-lg cursor-default ides-background"
                    style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('/img/bg10.png');">
                    <h3 class="lg:text-2xl text-xl font-bold my-auto pb-1">Software</h3>
                </div>
                <div class="marquee-wrapper col-span-4 lg:col-span-3 max-h-20 my-auto">
                    <div class="marquee-content scroll-right">
                        @for (skill of IDEs; track skill.name; let i = $index) {
                        <div class="card bg-primary shadow-xl rounded-full border border-base-300 min-w-40 shrink-0 cursor-default hover:border-primary transition-colors ides-background1"
                            style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/img/bg10.png');">
                            <div class="card-body flex justify-center text-center p-4 flex-row gap-3">
                                <img src="{{ skill.icon }}" alt="{{ skill.name }}" height="25" width="25">
                                <h3 class="card-title text-sm">{{ skill.name }}</h3>
                            </div>
                        </div>
                        }
                        <!-- Duplicate for infinite scroll -->
                        @for (skill of IDEs; track 'dup-'+skill.name; let i = $index) {
                        <div class="card bg-primary shadow-xl rounded-full border border-base-300 min-w-40 shrink-0 cursor-default hover:border-primary transition-colors ides-background1"
                            style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/img/bg10.png');">
                            <div class="card-body flex justify-center text-center p-4 flex-row gap-4">
                                <img src="{{ skill.icon }}" alt="{{ skill.name }}" height="25" width="25">
                                <h3 class="card-title text-sm">{{ skill.name }}</h3>
                            </div>
                        </div>
                        }
                    </div>
                    <div
                        class="absolute inset-y-0 left-0 w-20 bg-linear-to-r from-black to-transparent pointer-events-none z-10">
                    </div>
                    <div
                        class="absolute inset-y-0 right-0 w-20 bg-linear-to-l from-black to-transparent pointer-events-none z-10">
                    </div>
                </div>
            </div>

            <!-- Databases -->
            <div class="grid grid-cols-4 gap-3 border rounded-2xl pb-3 lg:pb-0 overflow-hidden databases-border">
                <div class="flex flex-col items-center p-7 lg:col-span-1 col-span-4 bg-primary text-primary-content rounded-lg cursor-default databases-background"
                    style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('/img/bg10.png');">
                    <h3 class="lg:text-2xl text-xl font-bold my-auto pb-1">Databases</h3>
                </div>
                <div class="marquee-wrapper col-span-4 lg:col-span-3 max-h-20 my-auto">
                    <div class="marquee-content scroll-left">
                        @for (skill of databases; track skill.name; let i = $index) {
                        <div class="card bg-primary shadow-xl rounded-full border border-base-300 min-w-40 shrink-0 cursor-default hover:border-primary transition-colors databases-background1"
                            style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/img/bg10.png');">
                            <div class="card-body flex justify-center text-center p-4 flex-row gap-3">
                                <img src="{{ skill.icon }}" alt="{{ skill.name }}" height="25" width="25">
                                <h3 class="card-title text-sm">{{ skill.name }}</h3>
                            </div>
                        </div>
                        }
                        <!-- Duplicate for infinite scroll -->
                        @for (skill of databases; track 'dup-'+skill.name; let i = $index) {
                        <div class="card bg-primary shadow-xl rounded-full border border-base-300 min-w-40 shrink-0 cursor-default hover:border-primary transition-colors databases-background1"
                            style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/img/bg10.png');">
                            <div class="card-body flex justify-center text-center p-4 flex-row gap-4">
                                <img src="{{ skill.icon }}" alt="{{ skill.name }}" height="25" width="25">
                                <h3 class="card-title text-sm">{{ skill.name }}</h3>
                            </div>
                        </div>
                        }
                    </div>
                    <div
                        class="absolute inset-y-0 left-0 w-20 bg-linear-to-r from-black to-transparent pointer-events-none z-10">
                    </div>
                    <div
                        class="absolute inset-y-0 right-0 w-20 bg-linear-to-l from-black to-transparent pointer-events-none z-10">
                    </div>
                </div>
            </div>

            <!-- DevOps Tools -->
            <div class="grid grid-cols-4 gap-3 border rounded-2xl pb-3 lg:pb-0 overflow-hidden tools-border">
                <div class="flex flex-col items-center p-7 lg:col-span-1 col-span-4 bg-primary text-primary-content rounded-lg cursor-default tools-background"
                    style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('/img/bg10.png');">
                    <h3 class="lg:text-2xl text-xl font-bold my-auto pb-1">DevOps Tools</h3>
                </div>
                <div class="marquee-wrapper col-span-4 lg:col-span-3 max-h-20 my-auto">
                    <div class="marquee-content scroll-right">
                        @for (skill of tools; track skill.name; let i = $index) {
                        <div class="card bg-primary shadow-xl rounded-full border border-base-300 min-w-40 shrink-0 cursor-default hover:border-primary transition-colors tools-background1"
                            style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/img/bg10.png');">
                            <div class="card-body flex justify-center text-center p-4 flex-row gap-3">
                                <img src="{{ skill.icon }}" alt="{{ skill.name }}" height="25" width="25">
                                <h3 class="card-title text-sm">{{ skill.name }}</h3>
                            </div>
                        </div>
                        }
                        <!-- Duplicate for infinite scroll -->
                        @for (skill of tools; track 'dup-'+skill.name; let i = $index) {
                        <div class="card bg-primary shadow-xl rounded-full border border-base-300 min-w-40 shrink-0 cursor-default hover:border-primary transition-colors tools-background1"
                            style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/img/bg10.png');">
                            <div class="card-body flex justify-center text-center p-4 flex-row gap-4">
                                <img src="{{ skill.icon }}" alt="{{ skill.name }}" height="25" width="25">
                                <h3 class="card-title text-sm">{{ skill.name }}</h3>
                            </div>
                        </div>
                        }
                    </div>
                    <div
                        class="absolute inset-y-0 left-0 w-20 bg-linear-to-r from-black to-transparent pointer-events-none z-10">
                    </div>
                    <div
                        class="absolute inset-y-0 right-0 w-20 bg-linear-to-l from-black to-transparent pointer-events-none z-10">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>