.customShadow {
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.background {
    background-attachment: fixed;
    background-size: cover;
}

.info-background {
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(70, 18, 224, 0.623);
    background-blend-mode: darken;
}