.hero {    
    position: relative;
    overflow: hidden;
    height: 50vh;
}
.custom-hero-content {
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(0.25rem /* 4px */ * 4) /* 1rem = 16px */;
    padding: calc(0.25rem /* 4px */ * 4) /* 1rem = 16px */;
}

#video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.623);
}