<section class="py-32 px-6 md:px-12 bg-base-100 cursor-default background" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url('img/bg12.png');" id="experience">
    <div class="max-w-5xl mx-auto">
        <div class="text-center mb-20" appScrollAnimation [hiddenClass]="'opacity-0 -translate-y-10'"
            [animationClass]="'opacity-100 translate-y-0'">
            <h2 class="text-4xl md:text-5xl font-bold mb-4 font-sans tracking-tight">Education & Experience</h2>
            <div class="h-1 w-24 bg-primary mx-auto rounded-full"></div>
        </div>
        <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
            <!-- Item 1 -->
            <li>
                <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        class="h-5 w-5 text-primary">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="timeline-start md:text-end mb-10" appScrollAnimation
                    [hiddenClass]="'opacity-0 -translate-x-20'" [animationClass]="'opacity-100 translate-x-0'">
                    <time class="font-mono italic opacity-60">2023 - 2025</time>
                    <div class="text-2xl font-black text-primary mt-1">Senior Executive - IT</div>
                    <div class="text-lg opacity-80 mb-2">Micro Labs Limited | <span class="uppercase bold italic text-xs opacity-60">Bengaluru</span></div>
                    <p class="font-light leading-relaxed">
                        Led the development of Angular and .NET based production and delivery management systems.
                        Improved the performance of the application and reduced the number of bugs and support requests by more than 90%. Mentored junior developers.
                    </p>
                </div>
                <hr class="bg-primary" />
            </li>
            <!-- Item 2 -->
            <li>
                <hr class="bg-primary" />
                <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        class="h-5 w-5 text-secondary">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="timeline-end mb-10" appScrollAnimation [hiddenClass]="'opacity-0 translate-x-20'"
                    [animationClass]="'opacity-100 translate-x-0'">
                    <time class="font-mono italic opacity-60">2019 - 2023</time>
                    <div class="text-2xl font-black text-secondary mt-1">Co-Founder</div>
                    <div class="text-lg opacity-80 mb-2">Proletare Solutions | <span class="uppercase bold italic text-xs opacity-60">Bengaluru</span></div>
                    <p class="font-light leading-relaxed">
                        Developed an enterprise automation solution that supported mobile and web app test automation on all major desktop and mobile platforms.
                        Implemented an Environment-as-a-Service (EaaS) business model with continuous integration and continuous deployment.
                    </p>
                </div>
                <hr class="bg-secondary" />
            </li>
            <!-- Item 3 -->
            <li>
                <hr class="bg-secondary" />
                <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        class="h-5 w-5 text-accent">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="timeline-start md:text-end mb-10" appScrollAnimation
                    [hiddenClass]="'opacity-0 -translate-x-20'" [animationClass]="'opacity-100 translate-x-0'">
                    <time class="font-mono italic opacity-60">2018 - 2019</time>
                    <div class="text-2xl font-black text-accent mt-1">Network Intern</div>
                    <div class="text-lg opacity-80 mb-2">Global Mobility Systems | <span class="uppercase bold italic text-xs opacity-60">Chicago</span></div>
                    <p class="font-light leading-relaxed">
                        Graduated with honors. Specialized in Human-Computer Interaction and modern web technologies.
                    </p>
                </div>
                <hr class="bg-accent" />
            </li>
            <!-- Item 4 -->
            <li>
                <hr class="bg-accent" />
                <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        class="h-5 w-5 text-warning">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="timeline-end mb-10" appScrollAnimation [hiddenClass]="'opacity-0 translate-x-20'"
                    [animationClass]="'opacity-100 translate-x-0'">
                    <time class="font-mono italic opacity-60">2015 - 2018</time>
                    <div class="text-2xl font-black text-warning mt-1">M.S. Computer Science</div>
                    <div class="text-lg opacity-80 mb-2">Illinois Institute of Technology | <span class="uppercase bold italic text-xs opacity-60">Chicago</span></div>
                    <p class="font-light leading-relaxed">
                        Graduated with distinction. Specialized in software engineering and modern web technologies.
                    </p>
                </div>
                <hr class="bg-warning" />
            </li>
            <!-- Item 5 -->
            <li>
                <hr class="bg-warning" />
                <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        class="h-5 w-5 text-info">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="timeline-start md:text-end mb-10" appScrollAnimation
                    [hiddenClass]="'opacity-0 -translate-x-20'" [animationClass]="'opacity-100 translate-x-0'">
                    <time class="font-mono italic opacity-60">2013 - 2015</time>
                    <div class="text-2xl font-black text-info mt-1">Associate IT Consultant</div>
                    <div class="text-lg opacity-80 mb-2">ITC Infotech | <span class="uppercase bold italic text-xs opacity-60">Bengaluru</span></div>
                    <p class="font-light leading-relaxed">
                        Led the team that developed a platform idependent test automation framework using C# and Java.
                        Developed software solutions for clients with a focus on test automation in agile and test-driven development (TDD) environments.
                    </p>
                </div>
                <hr class="bg-info" />
            </li>
            <!-- Item 6 -->
            <li>
                <hr class="bg-info" />
                <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        class="h-5 w-5 text-success">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="timeline-end mb-10" appScrollAnimation [hiddenClass]="'opacity-0 translate-x-20'"
                    [animationClass]="'opacity-100 translate-x-0'">
                    <time class="font-mono italic opacity-60">2012 - 2013</time>
                    <div class="text-2xl font-black text-success mt-1">Technical Support Executive</div>
                    <div class="text-lg opacity-80 mb-2">IBM India | <span class="uppercase bold italic text-xs opacity-60">Bengaluru</span></div>
                    <p class="font-light leading-relaxed">
                        Supported IBM's clients with server-side issues, access management and technical support.
                    </p>
                </div>
                <hr class="bg-success" />
            </li>
            <!-- Item 7 -->
            <li>
                <hr class="bg-success" />
                <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        class="h-5 w-5 text-error">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="timeline-start md:text-end mb-10" appScrollAnimation
                    [hiddenClass]="'opacity-0 -translate-x-20'" [animationClass]="'opacity-100 translate-x-0'">
                    <time class="font-mono italic opacity-60">2008 - 2012</time>
                    <div class="text-2xl font-black text-error mt-1">B.E. Telecommunications Engineering</div>
                    <div class="text-lg opacity-80 mb-2">Atria Institute of Technology | <span class="uppercase bold italic text-xs opacity-60">Bengaluru</span></div>
                    <p class="font-light leading-relaxed">
                        Graduated with distinction. Specialized in microcontrollers, VLSI design and GSM technologies.
                    </p>
                </div>
                <hr class="bg-error" />
            </li>
        </ul>
    </div>
</section>